@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before
*::after {
    box-sizing: border-box;         /* Regular */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

::-webkit-scrollbar {
      width: 0px;
      background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

p {
    margin:0;
    padding:0;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
}

a {
    text-decoration: none;
}

/* GENERAL */

body {
    padding: 0;
    margin: 0em;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0em 1em;
}

.icon {
    width: 16px;
    height: 16px;
}

.subtitle {
    margin: 2em 0;
}

.title {
    font-size: 3em;
    line-height: 1em;
}

.title-mid {
    font-size: 24px;
    font-weight: 600;
}

.title-icon {
    font-size: 18px;
}

.left-title {
    text-align: left;
    margin: 2em 0   ;
}

.section-title {
    margin: 2em 0;
    text-align: center;
}

.bold {
    font-weight: 900;
}

/* LINKS & BUTTONS */

.link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.awards-link {
    display: flex;
    align-items: center;
    color: #FFAB19;
}

.awards-link::before {
    content: '';
    display: block;
    width: 10px;
    height: 15px;
    background: url(../assets/icons/wheat.svg) left no-repeat;
    margin: 0 5px;
}

.awards-link::after {
    margin: 0 5px;
    content: '';
    display: block;
    width: 10px;
    height: 15px;
    background: url(../assets/icons/wheat.svg) left no-repeat;
    -webkit-transform: scaleX(-1);
}

.button {
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 8px;
}


.course-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #E1E1E1;
    color: #000000;
    border-radius: 50px;
    font-size: 14px;
    padding: 0.3em 1em;
    margin-right: 1em;
}

.black-bg {
    color: #E1E1E1;
    background-color: #000000;
    border-color: #000000;
}

/* ADVER */

.adver {
    text-align: center; 
    background-color: #FFAB19;
}

/* HEADER */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.header-button__inner-mobile {
    display: none;
    margin: 2em;
}

.header-link {
    margin-right: 2em;
}

/* COURSE-NAV */

.course-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.course-icon {
    margin-right: 10px;
}

/* MAIN-BANNER */

.main-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    margin: 3em 0;
    padding: 2em;
    background: url(../assets/main-banner.png) bottom right no-repeat, #75BC7B;
    background-size: 40%;
}

/* SUB-BANNER */

.sub-banner {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5em;
    justify-content: space-between;
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 3em;
}

.sub-icon {
    margin-top: 10px;
    width: 24px;
    height: 24px;
}

#banner-bg1 {
    background: url(../assets/banner-image__book.png)  bottom right no-repeat #F3F3F3;
    background-size: 80%;
    margin: 1em 0;

}

#banner-bg2 {
    background: url(../assets/banner-image__puzzle.png) right no-repeat #F3F3F3;
    background-size: 60%;
    margin: 1em 0;
}

#banner-bg3 {
    background: url(../assets/banner-image__trophy.png) right no-repeat #F3F3F3;
    background-size: 20%;
    background-position: 70%;
    margin: 1em 0;
}

.half-banner {
    width: 40%;
}

.sub-banner__inner {
    display: flex;
    justify-content: space-between;
}

.subtitle-mid {
    margin-top: 3em;
    font-size: 1em;
    line-height: 1em;
    max-width: 80%;
    color: #616161;
}

/* COURSE-BANNER*/

.course-banner {
    background: url(../assets/course-image__web.png) right center no-repeat #2D7DD2;
    background-size: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    padding: 2em;
    margin-bottom: 3em;
    transition: .2s all;
    min-height: 300px;
}

/* .web-banner:hover, .design-course:hover, .course-3D:hover, .tadjwid:hover   {
    transform: translate(-0px, -20px);
} */

.course-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-text__inner {
    display: flex;
}

.course-subtitle {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase
}

.course-opacity {
    opacity: 60%;
}

.course-text {
    margin-right: 3em;
}

.course-top {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}

.capsule-button {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.233), rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(10px);
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    border-radius: 100px;
    padding: 0.45em 0.85em;
    margin-right: 8px;
    margin-bottom: 8px;
}



/* COURSE-BANNER (DESIGN) */

.design-course {
    background: url(../assets/course-image__design.png) right center no-repeat #DC6ACF;
    background-size: 30%;
}

/* COURSE-BANNER (3D) */

.course-3D {
    background: url(../assets/course-image__3D.png) right center no-repeat #ff6e39;
    background-size: 30%;
}

/* COURSE-BANNER (Tadjwid) */

.tadjwid {
    background: url(../assets/course-image__tadjwid.png) right center no-repeat #75BC7B;
    background-size: 30%;
}

/* COURSE-BANNER (English) */

.english {
    background: url(../assets/course-image__english.png) center right no-repeat #DF2935;
    background-size: 30%;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    padding: 3em 6em;
    border-radius: 20px;
    margin: 2em 0;
    width: 100;
}

.footer-text__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2em;
    text-transform: uppercase;
}

.footer-link {
    font-size: 14px;
    font-weight: 700;
    color: #616161;
}

.footer-title {
    font-size: 14px;
    font-weight: 600;
}

.disclaimer {
    font-size: 8px;
    color: #616161;
    line-height: normal;
}

.social__inner {
    margin-top: 10px;
}

/* ACCORDION */

.accordion {
    background-color: #F3F3F3;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
    color: #444;
    cursor: pointer;
    padding: 1.5em;
    border-radius: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: none;
  }

  .accordion-container {
    background-color: #F3F3F3;
    border-radius: 10px;
    margin-bottom: 1em;
  }
  
  .active, .accordion:hover {
    background-color: #F3F3F3;
  }

  .active{
    background-color: #F3F3F3;
    border-radius: 10px 10px 0 0;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0em 1em;
    background-color: #F3F3F3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0px 0px 10px 10px;
  }

  .subtitle-accordion {
    font-size: 16px;
    margin: 2em 0em;
    max-width: 50%;
  }



@media (max-width: 1000px) {
    .course-button {
        margin: 5px;
        font-size: 12px;
    }

    .title {
        font-size: 2.5em;
    }

    .header {
        flex-direction: column;
        margin-bottom: 0;
    }

    .header__inner {
        width: 100%;
        margin: 1em 0;
    }

    .header-button__inner {
        display: none;
    }
    
    .header-button__inner-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-link {
        margin: 0em 1em;
    }

    .course-nav {
        justify-content: center;
    }

    .footer {
        flex-direction: column;
    }

    .footer-logo {
        align-self: flex-start;
    }

    .footer-text__inner {
        margin: 2em 0;
    }

    .sub-banner__inner {
        flex-direction: column;
    }

    .sub-block{
        margin-top: 2em;
    }

    .sub-block__inner {
        margin: 1em 0;
    }

    .half-banner {
        width: unset;
    }
    
    .course-top {
        max-width: unset;
    }

    .course-text__inner {
        margin: 2em 0;
    }

    .course-bottom {
        flex-direction: column;
        margin-top: 5em;
        align-items: flex-start;
    }

    .web-banner, .design-course, .course-3D, .tadjwid, .english {
        background-size: 40%;
        background-position: bottom right;
    }

    .subtitle-accordion {
        padding: 1.5em;
        max-width: unset;
    }
}