@import url('https://fonts.cdnfonts.com/css/petrov-sans-trial');

*,
*::before
*::after {
    box-sizing: border-box;         /* Regular */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

::-webkit-scrollbar {
      width: 0px;
      background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

p {
    margin:0;
    padding:0;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
}

a {
    text-decoration: none;
}

/* LENNIS */

/* html.lenis, html.lenis body {
    height: auto;
  }
  
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
} */

/* GENERAL */

body {
    padding: 0;
    margin: 0em;
    font-family: 'Petrov Sans-Trial', sans-serif;
    font-optical-sizing: auto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    background-color: #E2E4E7;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0em 1em;
}

.icon {
    width: 16px;
    height: 16px;
}

.subtitle {
    margin: 2em 0;
    max-width: 35%;
}

.title {
    font-size: 3em;
    line-height: 1em;
}

.title-mid {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
}

.title-icon {
    font-size: 18px;
}

.left-title {
    text-align: left;
    margin: 2em 0   ;
}

.section-title {
    margin: 2em 0;
    text-align: center;
}

.bold {
    font-weight: 900;
}

.golden {
    color: #e49920;
    line-height: 1em;
}

/* LINKS & BUTTONS */

.link {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    transition: .1s all;
}

.l-highlight::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    background-color: #75BC7B;
    border-radius: 100%;
}

.link:hover {
    color: #75BC7B;
}

.awards-link {
    display: flex;
    align-items: center;
}
/* 
.awards-link::before {
    content: '';
    display: block;
    width: 10px;
    height: 15px;
    background: url(../assets/icons/wheat.svg) left no-repeat;
    margin: 0 5px;
}

.awards-link::after {
    margin: 0 5px;
    content: '';
    display: block;
    width: 10px;
    height: 15px;
    background: url(../assets/icons/wheat.svg) left no-repeat;
    -webkit-transform: scaleX(-1);
} */

.button {
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 8px;
}


.course-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #000000;
    border-radius: 50px;
    font-size: 14px;
    padding: 0.3em 1em;
    margin-right: 1em;

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.black-bg {
    color: #E1E1E1;
    background-color: #000000;
    border-color: #000000;
}

.menu-button {
    display: none;
}

/* ADVER */

.stroke-banner {
    display: none;
    text-align: center; 
    background-color: #FFAB19;
}

/* FORMS */

.form {
    display: none;
}

.form-bg-blur {
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.700);
    z-index: 900;
}

.form__inner {
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #ffffff;
    color: #ffffff;
    z-index: 1000;
    min-width: 350px;
}

.form-top {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    border-radius: 20px 20px 0px 0px;
    padding: 2em;
}


.close-button {
    align-self: flex-end;
    margin: 1em;
    background: url(../assets/icons/close-icon.svg) center no-repeat;
    padding: 1em;
    border: none;
    cursor: pointer;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 1em;
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #E8E8E8;
    border-radius: 8px;
    box-sizing: border-box;
    resize: vertical;
    margin: 1em 0;
  }

label {
    color: #616161;
}

.label__inner {
    display: flex;
}

.forms-title {
    margin-top: 0;
}

.forms-button {
  background-color: #000000;
  text-transform: uppercase;
  font-family: 'Satoshi', sans-serif;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.breaker {
    color: #ffffff;
}

/* HEADER */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.header-button__inner-mobile {
    display: none;
    margin: 2em;
}

.header-link {
    margin-right: 2em;
}

.mobile-menu {
    display: none;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 3em;
}

/* COURSE-NAV */

.course-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.course-icon {
    margin-right: 10px;
}

/* MAIN-BANNER */

.main-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: url(../assets/main-banner.webp) bottom right no-repeat, #cacaca;
    border-radius: 20px;
    margin: 3em 0;
    padding: 2em;
    background-size: 60%;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* SUB-BANNER */

.sub-banner {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5em;
    justify-content: space-between;
    background-color: #F3F3F3;
    border-radius: 20px;
    padding: 3em;
    gap: 30px;
}

.sub-icon {
    margin-top: 10px;
    width: 24px;
    height: 24px;
}

.banner-icon {
    width: 30px;
    height: 30px; 
}

#banner-bg3 {
    flex-direction: column;
    margin-top: 15px;
}

.sub-banner__inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.subtitle-mid {
    font-size: 1em;
    line-height: 1em;
    max-width: 80%;
    color: #616161;
}

/* ED-INFO */

.ed-info {
    display: flex;
    gap: 15px;
    
}

.ei-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ei-left__row {
    display: flex;
    gap: 15px;
}

.ei-left-card {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    padding: 3em;
    width: 100%;
}

.ei-right-card{
    background-color: #F3F3F3;
    gap: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

/* .ei-card1 {
    background: url(../assets/ed-1.webp) center right no-repeat, #F3F3F3;
    background-size: 50%;
}

.ei-card2 {
    background: url(../assets/ed-2.webp) center right no-repeat, #F3F3F3;
    background-size: 30%;
}

.ei-card3 {
    background: url(../assets/ed-3.webp) center right no-repeat, #F3F3F3;
    background-size: 30%;
}

.ei-card4 {
    background: url(../assets/ed-4.webp) center bottom no-repeat, #F3F3F3;
    background-size: 40%;
} */

/* COURSE-BANNER*/

.course-banner {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
    padding: 2em;
    margin-bottom: 3em;
    transition: .2s all;
    min-height: 300px;
}

/* .web-banner:hover, .design-course:hover, .course-3D:hover, .tadjwid:hover   {
    transform: translate(-0px, -20px);
} */

.course-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-text__inner {
    display: flex;
}

.course-subtitle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase
}

.course-opacity {
    opacity: 60%;
}

.course-text {
    margin-right: 3em;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.233), rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 12px;
}

.course-top {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}

.capsule-button {
    background-color: #E8EAEC;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    border-radius: 100px;
    padding: 0.45em 0.85em;
    margin-bottom: 8px;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}



/* COURSE-BANNER (DESIGN) */

.web-banner {
    background: url(../assets/web.webp) right bottom no-repeat;
    background-size: 40%;
}

.design-course {
    background: url(../assets/design.webp) right bottom no-repeat;
    background-size: 50%;
}

/* COURSE-BANNER (3D) */

.course-3D {
    background: url(../assets/3D.webp) right bottom no-repeat;
    background-size: 25%;
    border: 1px solid black;
}

/* COURSE-BANNER (Tadjwid) */

.tadjwid {
    background: url(../assets/tadjwid.webp) right bottom no-repeat;
    background-size: 40%;
    border: 1px solid black;
}

/* COURSE-BANNER (English) */

.english {
    background: url(../assets/english.webp) right bottom no-repeat;
    background-size: 40%;
    border: 1px solid black;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    padding: 3em 6em;
    border-radius: 20px;
    margin: 2em 0;
    width: 100;
}

.footer-text__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2em;
    text-transform: uppercase;
}

.footer-link {
    font-size: 14px;
    font-weight: 700;
    color: #616161;
}

.footer-title {
    font-size: 14px;
    font-weight: 600;
}

.disclaimer {
    font-size: 8px;
    color: #616161;
    line-height: normal;
}

.social__inner {
    margin-top: 10px;
}

/* ACCORDION */

.accordion {
    background-color: #F3F3F3;
    font-weight: 600;
    font-family: 'Satoshi', sans-serif;
    color: #444;
    cursor: pointer;
    padding: 1.5em;
    border-radius: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: none;
  }

  .accordion-container {
    background-color: #F3F3F3;
    border-radius: 10px;
  }
  
  .active, .accordion:hover {
    background-color: #F3F3F3;
  }

  .active{
    background-color: #F3F3F3;
    border-radius: 10px 10px 0 0;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0em 1em;
    background-color: #F3F3F3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0px 0px 10px 10px;
  }

  .subtitle-accordion {
    font-size: 16px;
    margin: 2em 0em;
    max-width: 50%;
  }

/* RATING */

.rating-subtitle, .rating-title {
    text-align: center;
    margin: 10px auto;
}

.rating-subtitle {
    max-width: 50%;
}

.rating-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rating-text__inner {
    margin: 5em 0em;
}

.rating-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../assets/2.jpg) center center no-repeat;
    background-size: 100%;
    padding: 6em 3em;
    border-radius: 20px;
    color: white;
    opacity: 90%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .2s background-size;
}

.rating-banner:hover {
    background-size: 110%;
}

.rb-title, .rb-subtitle {
    text-shadow: #000000 1px 0 10px;
}

.rb-subtitle {
    margin: 10px 0;
    font-size: 2rem;
    max-width: 100%;
}

.info-row__inner {
    margin: 2em 0;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-size: 1.5em;
    border-bottom: 1px dotted #a5a5a5;
    color: #444;
}

.rating-logo {
    margin-top: 2em;
    width: 100%;
    height: 30px;
}

.rating-list {
    margin: 2em 0;
    margin-bottom: 4em;
}

.list-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #a5a5a5;
}

.row-score, .row-name {
    font-size: 24px;
}

.rating-main {
    background-color: #D3D3D3;
    padding: 2em;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2em;
}

.rm-title {
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1em;
}

.rm-subtitle {
    text-transform: uppercase;
    margin: 1em 0;
    color: #525252;
    font-weight: 500;
    line-height: 1em;
}

.rm-inner {
    display: flex;
    gap: 10px;
}

.rm-card {
    background: #EBEBEB;
    padding: 1em;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.rm-card-title {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
}

.rm-card-text {
    font-size: 14px;
    line-height: 1em;
    color: #525252;
    max-width: 50%;
}

.rm-card-line {
    height: 1px;
    background-color: #D9D9D9;
    margin: 1em 0;
}

.rm-card-btn {
    text-transform: uppercase;
    font-size: 1em;
    color: #000000;
}

.rm-card-btn::after {
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url(../assets/icons/shevron-down.svg) center center no-repeat;
    background-size: 100%;
    margin-left: 10px;
}

.rm-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
}

.rm-top {
    display: flex;
    justify-content: space-between;
}

.rm-head-inner {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rm-tag {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #a5a5a5;
    padding: 5px 6px;
    border-radius: 4px;
    color: white;
    line-height: 0.5em;
    font-weight: 600;
}

.rn-head-reward {
    font-size: 14px;
    color: #525252;
    font-weight: 600;
}

.rm-extras {
    display: flex;
    justify-content: space-between;
}

.rating-accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: none;
    background-color: #E2E4E7;
    border-top: 1px dashed #A5A5A5;
    border-radius: 0;
    padding: 1em 0;
}

.rating-accordion:hover, .rating-accordion-panel  {
    background-color: #E2E4E7;
 
}

.rating-accordion-panel {
    padding: 0;
}

.rating-accordion-title {
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 10px;
}

.rating-accordion-subtitle {
    padding: 0;
    color: #444444;
}


/* MEDIA */

@media (max-width: 1000px) {

    .ed-info, .ei-left__row{
        flex-wrap: wrap;
    }

    .ei-right-card {
        padding: 3em;
        height: unset;
        align-items: flex-start;
        text-align: left;
        justify-content: flex-start;
    }

    .ei-card4 {
        background-position: right bottom;
    }

    .mobile-menu {
        display: flex;
    }
    
    .mobile-disable-logo {
        display: none;
    }

    .course-button {
        margin: 0px 5px 5px 0px;
        font-size: 12px;
    }

    .title {
        font-size: 2em;
    }

    .header {
        justify-content: center;
        margin-bottom: 0;
    }

    .header__inner {
        width: 100%;
        margin: 1em 0;
        display: none;
    }

    .link {
        font-size: 12px;
    }


    .header-button__inner {
        display: none;
    }
    
    .header-button__inner-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-link {
        margin: 0em 1em;
    }

    .course-nav {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }

    .footer {
        flex-direction: column;
        padding: 3em;
    }

    .footer-logo {
        align-self: flex-start;
    }

    .footer-link {
        font-size: 12px;
        line-height: 20px;
    }

    .footer-text__inner {
        margin: 2em 0;
    }

    .sub-banner__inner {
        flex-direction: column;
    }

    .sub-block{
        margin-top: 2em;
    }

    .sub-block__inner {
        margin: 1em 0;
    }

    .half-banner {
        width: unset;
    }
    
    .course-top {
        max-width: unset;
    }

    .course-text__inner {
        margin: 2em 0;
        display: none;
    }

    .capsule-button {
        font-size: 12px;
    }

    .course-bottom {
        flex-direction: column;
        margin-top: 3em;
        align-items: flex-start;
        gap: 15px;
    }

    .web-banner, .design-course, .course-3D, .tadjwid, .english {
        background-size: 40%;
        background-position: bottom right;
    }

    .subtitle-accordion {
        padding: 1.5em;
        max-width: unset;
    }

    .rating-accordion-subtitle {
        padding: 0;
    }

    .subtitle-mid {
        max-width: unset;
    }

    .ei-sub {
        max-width: 50%;
    }

    .label__inner {
        display: unset;
    }

    .breaker {
        display: none;
    }

    .main-banner {
        background: url(../assets/main-banner-mobile.webp) bottom right no-repeat, #cacaca;
        background-size: 50%;

    }

    .subtitle {
        max-width: 60%;
    }

    .menu-button {
        display: block;
    }
    
    .course-main {
        display: none;
    }

    .golden {
        max-width: 50%;
        text-align: right;
    }

  
    .rating-banner {
        background-size: 200%;
        text-align: center;
        line-height: 1.5em;
    }

    .info-row {
        align-items: unset;
    }

    .rm-inner {
        flex-wrap: wrap;
    }

    .rm-top {
        flex-direction: column;
        margin-bottom: 1em;
    }
    
    .rm-title {
        font-size: 2.5em;
    }

    .rm-subtitle {
        font-size: 1em;
    }

    .rn-head-reward {
        line-height: 1em;
        text-align: right;
    }
}